<div class="container-fluid p-0">
    <div class="row mb-3">
        <div class="col-12 d-flex justify-content-between">
            <h1 class="h3"><strong>Dashboard</strong></h1>
            <a href="/users/add" class="btn btn-primary btn-lg"><i class="align-middle" data-feather="user-plus"></i> Add new user</a>
        </div>
    </div>

    <div class="row">
        <div class="col-12 d-flex">
            <div class="card flex-fill">
                <div class="card-header">
                    <h5 class="card-title mb-0">List of users</h5>
                </div>
            </div>
        </div>
    </div>
</div>
