<div class="container-fluid p-0">
    <h1 class="h3 mb-3"><strong>Dashboard</strong></h1>

    <div class="row">
        <div class="col-sm-6 col-xl-3">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col mt-0">
                            <h5 class="card-title">Income</h5>
                        </div>

                        <div class="col-auto">
                            <div class="stat text-primary">
                                <i class="align-middle" data-feather="dollar-sign"></i>
                            </div>
                        </div>
                    </div>
                    <h1 class="mt-1 mb-3">$47.482</h1>
                    <div class="mb-0">
                        <span class="badge badge-success-light"> <i class="mdi mdi-arrow-bottom-right"></i> 3.65% </span>
                        <span class="text-muted">Since last week</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col mt-0">
                            <h5 class="card-title">Orders</h5>
                        </div>

                        <div class="col-auto">
                            <div class="stat text-primary">
                                <i class="align-middle" data-feather="shopping-bag"></i>
                            </div>
                        </div>
                    </div>
                    <h1 class="mt-1 mb-3">2.542</h1>
                    <div class="mb-0">
                        <span class="badge badge-danger-light"> <i class="mdi mdi-arrow-bottom-right"></i> -5.25% </span>
                        <span class="text-muted">Since last week</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col mt-0">
                            <h5 class="card-title">Activity</h5>
                        </div>

                        <div class="col-auto">
                            <div class="stat text-primary">
                                <i class="align-middle" data-feather="activity"></i>
                            </div>
                        </div>
                    </div>
                    <h1 class="mt-1 mb-3">16.300</h1>
                    <div class="mb-0">
                        <span class="badge badge-success-light"> <i class="mdi mdi-arrow-bottom-right"></i> 4.65% </span>
                        <span class="text-muted">Since last week</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col mt-0">
                            <h5 class="card-title">Revenue</h5>
                        </div>

                        <div class="col-auto">
                            <div class="stat text-primary">
                                <i class="align-middle" data-feather="shopping-cart"></i>
                            </div>
                        </div>
                    </div>
                    <h1 class="mt-1 mb-3">$20.120</h1>
                    <div class="mb-0">
                        <span class="badge badge-success-light"> <i class="mdi mdi-arrow-bottom-right"></i> 2.35% </span>
                        <span class="text-muted">Since last week</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-12 d-flex">
            <div class="card flex-fill">
                <div class="card-header">
                    <div class="card-actions float-end">
                        <div class="dropdown position-relative">
                            <a href="#" data-bs-toggle="dropdown" data-bs-display="static">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal align-middle">
                                    <circle cx="12" cy="12" r="1"></circle>
                                    <circle cx="19" cy="12" r="1"></circle>
                                    <circle cx="5" cy="12" r="1"></circle>
                                </svg>
                            </a>

                            <div class="dropdown-menu dropdown-menu-end">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    </div>
                    <h5 class="card-title mb-0">Latest Projects</h5>
                </div>
                <table class="table table-borderless my-0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th class="d-none d-xxl-table-cell">Company</th>
                            <th class="d-none d-xl-table-cell">Author</th>
                            <th>Status</th>
                            <th class="d-none d-xl-table-cell">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="d-flex">
                                    <div class="flex-grow-1 ms-3">
                                        <strong>Project Apollo</strong>
                                        <div class="text-muted">Web, UI/UX Design</div>
                                    </div>
                                </div>
                            </td>
                            <td class="d-none d-xxl-table-cell">
                                <strong>Lechters</strong>
                                <div class="text-muted">Real Estate</div>
                            </td>
                            <td class="d-none d-xl-table-cell">
                                <strong>Vanessa Tucker</strong>
                                <div class="text-muted">HTML, JS, React</div>
                            </td>
                            <td>
                                <div class="d-flex flex-column w-100">
                                    <span class="me-2 mb-1 text-muted">65%</span>
                                    <div class="progress progress-sm bg-success-light w-100">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: 65%"></div>
                                    </div>
                                </div>
                            </td>
                            <td class="d-none d-xl-table-cell">
                                <a href="#" class="btn btn-light">View</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex">
                                    <div class="flex-grow-1 ms-3">
                                        <strong>Project Bongo</strong>
                                        <div class="text-muted">Web</div>
                                    </div>
                                </div>
                            </td>
                            <td class="d-none d-xxl-table-cell">
                                <strong>Cellophane Transportation</strong>
                                <div class="text-muted">Transportation</div>
                            </td>
                            <td class="d-none d-xl-table-cell">
                                <strong>William Harris</strong>
                                <div class="text-muted">HTML, JS, Vue</div>
                            </td>
                            <td>
                                <div class="d-flex flex-column w-100">
                                    <span class="me-2 mb-1 text-muted">33%</span>
                                    <div class="progress progress-sm bg-danger-light w-100">
                                        <div class="progress-bar bg-danger" role="progressbar" style="width: 33%"></div>
                                    </div>
                                </div>
                            </td>
                            <td class="d-none d-xl-table-cell">
                                <a href="#" class="btn btn-light">View</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex">
                                    <div class="flex-grow-1 ms-3">
                                        <strong>Project Canary</strong>
                                        <div class="text-muted">Web, UI/UX Design</div>
                                    </div>
                                </div>
                            </td>
                            <td class="d-none d-xxl-table-cell">
                                <strong>Clemens</strong>
                                <div class="text-muted">Insurance</div>
                            </td>
                            <td class="d-none d-xl-table-cell">
                                <strong>Sharon Lessman</strong>
                                <div class="text-muted">HTML, JS, Laravel</div>
                            </td>
                            <td>
                                <div class="d-flex flex-column w-100">
                                    <span class="me-2 mb-1 text-muted">50%</span>
                                    <div class="progress progress-sm bg-warning-light w-100">
                                        <div class="progress-bar bg-warning" role="progressbar" style="width: 50%"></div>
                                    </div>
                                </div>
                            </td>
                            <td class="d-none d-xl-table-cell">
                                <a href="#" class="btn btn-light">View</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex">
                                    <div class="flex-grow-1 ms-3">
                                        <strong>Project Edison</strong>
                                        <div class="text-muted">UI/UX Design</div>
                                    </div>
                                </div>
                            </td>
                            <td class="d-none d-xxl-table-cell">
                                <strong>Affinity Investment Group</strong>
                                <div class="text-muted">Finance</div>
                            </td>
                            <td class="d-none d-xl-table-cell">
                                <strong>Vanessa Tucker</strong>
                                <div class="text-muted">HTML, JS, React</div>
                            </td>
                            <td>
                                <div class="d-flex flex-column w-100">
                                    <span class="me-2 mb-1 text-muted">80%</span>
                                    <div class="progress progress-sm bg-success-light w-100">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: 80%"></div>
                                    </div>
                                </div>
                            </td>
                            <td class="d-none d-xl-table-cell">
                                <a href="#" class="btn btn-light">View</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex">
                                    <div class="flex-grow-1 ms-3">
                                        <strong>Project Indigo</strong>
                                        <div class="text-muted">Web, UI/UX Design</div>
                                    </div>
                                </div>
                            </td>
                            <td class="d-none d-xxl-table-cell">
                                <strong>Konsili</strong>
                                <div class="text-muted">Retail</div>
                            </td>
                            <td class="d-none d-xl-table-cell">
                                <strong>Christina Mason</strong>
                                <div class="text-muted">HTML, JS, Vue</div>
                            </td>
                            <td>
                                <div class="d-flex flex-column w-100">
                                    <span class="me-2 mb-1 text-muted">78%</span>
                                    <div class="progress progress-sm bg-primary-light w-100">
                                        <div class="progress-bar bg-primary" role="progressbar" style="width: 78%"></div>
                                    </div>
                                </div>
                            </td>
                            <td class="d-none d-xl-table-cell">
                                <a href="#" class="btn btn-light">View</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
